  .slider-container {
    overflow             : hidden;
    width                : 100%;
    margin               : auto;
    position             : relative;
    border-radius        : 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius   : 25px;
    -ms-border-radius    : 25px;
    -o-border-radius     : 25px;
  }

  .slider-wrapper {
    display   : flex;
    transition: transform 0.5s ease-in-out;
    width     : 100%;
  }

  .slider-image {
    width     : 100%;
    height    : auto;
    object-fit: cover;
    flex      : 0 0 100%;
  }

  .slider-wrapper * {
    width     : 100% !important;
    height    : auto !important;
    object-fit: cover !important;
    flex      : 0 0 100% !important;
  }